<div class="container">
  <div class="user-image">
    <img src="../../../assets/images/userinfo.png" alt="" />
  </div>
  <div class="user-details">
    <div class="user-info">
      <span>Nome: </span>
      <span>
        {{ user.name }}
      </span>
    </div>
    <div class="user-info">
      <span>Idade: </span>
      <span> {{ user.age }} anos </span>
    </div>
    <div class="user-info">
      <span>Endereço: </span>
      <span>
        {{ user.address }}
      </span>
    </div>
  </div>
</div>
